@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



 
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #894848;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #000000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
            margin: 10px 20px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

        section {
            padding: 40px;
            text-align: center;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            background-color: white;
            width: 280px;
            margin: 15px;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .card img {
            width: 100%;
            border-radius: 5px;
        }

        footer {
            background-color: #3b2f2f;
            color: white;
            text-align: center;
            padding: 20px;
        }

        footer button {
            margin-top: 10px;
            padding: 8px 15px;
            border: none;
            background-color: #d4a373;
            cursor: pointer;
            border-radius: 5px;
        }